.video {
  position: relative;
  height: 100vh;
  border: 1px solid $color-1;
  @media (orientation: portrait) {
    height: 50vh;
  }

  video {
    object-fit: cover;
  }
}

.video__play {
  position: absolute;
  top: calc(50% - 56.5px);
  left: calc(50% - 49px);
  @media (min-width: 2160px) {
    top: calc(50% - 81.5px);
    left: calc(50% - 69px);
  }

  img, svg {
    display: block;
    width: 98px;
    height: 113px;
    @media (min-width: 2160px) {
      width: 138px;
      height: 163px;
    }

  }
}

.video {
  .plyr--video {
    .plyr__control {
      padding: 0;
      background-color: transparent;
      box-shadow: none;

      svg {
        width: 98px;
        height: 113px;
        @media (min-width: 2160px) {
          width: 160px;
          height: 190px;
        }
        @media (max-width: $lg) {
          width: 70px;
          height: 81px;
        }
        @media (max-width: $sm) {
          width: 50px;
          height: 56px;
        }
      }
    }

    .plyr__controls {
      display: none !important;
    }
  }
}

.page-title {
  + .video {
    margin-top: 154px;
    @media (max-width: $lg) {
      margin-top: 100px;
    }
    @media (max-width: $sm) {
      margin-top: 60px;
    }
  }
}
