<div class="awards">
    <div class="container container--full-width">
        <div class="page-title">
            <h2>Awards</h2>
        </div>
        <div class="awards__table">
            <div class="awards__row__wrapper fade-in__container fade-in__animated-start animated-line">
                <a class="awards__row" href="project.html">
                    <div class="awards__year">2019</div>
                    <div class="awards__name">IF Design<br>Award</div>
                    <div class="awards__project">1000 Miglia</div>
                    <div class="awards__link">
                        <span class="awards_arrow">
                            {% include 'img/_arrow-right.twig' %}
                        </span>
                    </div>
                    <img class="awards__bg" src="img/partners-tooltip-4.jpg" alt="">
                </a>
            </div>
            <div class="awards__row__wrapper fade-in__container fade-in__animated-start animated-line">
                <a class="awards__row" href="project.html">
                    <div class="awards__year">2017</div>
                    <div class="awards__name">IF Design<br>Award</div>
                    <div class="awards__project">Boraso</div>
                    <div class="awards__link">
                        <span class="awards_arrow">
                            {% include 'img/_arrow-right.twig' %}
                        </span>
                    </div>
                    <img class="awards__bg" src="img/partners-tooltip-5.jpg" alt="">
                </a>
            </div>
            <div class="awards__row__wrapper fade-in__container fade-in__animated-start animated-line">
                <a class="awards__row" href="project.html">
                    <div class="awards__year">2017</div>
                    <div class="awards__name">A’ Design<br>Award</div>
                    <div class="awards__project">Safe</div>
                    <div class="awards__link">
                        <span class="awards_arrow">
                            {% include 'img/_arrow-right.twig' %}
                        </span>
                    </div>
                    <img class="awards__bg" src="img/partners-tooltip-10.jpg" alt="">
                </a>
            </div>
            <div class="awards__row__wrapper fade-in__container fade-in__animated-start animated-line">
                <a class="awards__row" href="project.html">
                    <div class="awards__year">2016</div>
                    <div class="awards__name">German<br>Design Award</div>
                    <div class="awards__project">Centuria</div>
                    <div class="awards__link">
                        <span class="awards_arrow">
                            {% include 'img/_arrow-right.twig' %}
                        </span>
                    </div>
                    <img class="awards__bg" src="img/partners-tooltip-11.jpg" alt="">
                </a>
            </div>
            <div class="awards__row__wrapper fade-in__container fade-in__animated-start animated-line">
                <a class="awards__row" href="project.html">
                    <div class="awards__year">2016</div>
                    <div class="awards__name">IF Design<br>Award</div>
                    <div class="awards__project">Nascent</div>
                    <div class="awards__link">
                        <span class="awards_arrow">
                            {% include 'img/_arrow-right.twig' %}
                        </span>
                    </div>
                    <img class="awards__bg" src="img/partners-tooltip-13.jpg" alt="">
                </a>
            </div>
            <div class="awards__row__wrapper fade-in__container fade-in__animated-start animated-line">
                <a class="awards__row" href="project.html">
                    <div class="awards__year">2015</div>
                    <div class="awards__name">German<br>Design Award</div>
                    <div class="awards__project">Calligaris - CODE</div>
                    <div class="awards__link">
                        <span class="awards_arrow">
                            {% include 'img/_arrow-right.twig' %}
                        </span>
                    </div>
                    <img class="awards__bg" src="img/partners-tooltip-17.jpg" alt="">
                </a>
            </div>
            <div class="awards__row__wrapper fade-in__container fade-in__animated-start animated-line">
                <a class="awards__row" href="project.html">
                    <div class="awards__year">2014</div>
                    <div class="awards__name">Iconic Award</div>
                    <div class="awards__project">Maison - Bio</div>
                    <div class="awards__link">
                        <span class="awards_arrow">
                            {% include 'img/_arrow-right.twig' %}
                        </span>
                    </div>
                    <img class="awards__bg" src="img/partners-tooltip-18.jpg" alt="">
                </a>
            </div>
            <div class="awards__row__wrapper fade-in__container fade-in__animated-start animated-line">
                <a class="awards__row" href="project.html">
                    <div class="awards__year">2013</div>
                    <div class="awards__name">RedDot<br>Design Award</div>
                    <div class="awards__project">Calligaris - CODE</div>
                    <div class="awards__link">
                        <span class="awards_arrow">
                            {% include 'img/_arrow-right.twig' %}
                        </span>
                    </div>
                    <img class="awards__bg" src="img/partners-tooltip-19.jpg" alt="">
                </a>
            </div>
            <div class="awards__row__wrapper fade-in__container fade-in__animated-start animated-line">
                <a class="awards__row" href="project.html">
                    <div class="awards__year">2013</div>
                    <div class="awards__name">IF Design<br>Award</div>
                    <div class="awards__project">Maison - Bio</div>
                    <div class="awards__link">
                        <span class="awards_arrow">
                            {% include 'img/_arrow-right.twig' %}
                        </span>
                    </div>
                    <img class="awards__bg" src="img/partners-tooltip-10.jpg" alt="">
                </a>
            </div>
            <div class="awards__row__wrapper fade-in__container fade-in__animated-start animated-line">
                <a class="awards__row" href="project.html">
                    <div class="awards__year">2012</div>
                    <div class="awards__name">RedDot<br>Design Award</div>
                    <div class="awards__project">Maison - Bio</div>
                    <div class="awards__link">
                        <span class="awards_arrow">
                            {% include 'img/_arrow-right.twig' %}
                        </span>
                    </div>
                    <img class="awards__bg" src="img/partners-tooltip-1.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
