<div class="contacts fade-in__container">
    <div class="container container--full-width">
        <div class="contacts__row fade-in__animated-start animated-line">
            <div class="contacts__item">
                <p class="contacts__item--address">
                    {% include 'img/_arrow-right.twig' %}
                    Via Andrea Appiani, 9<br>20121 / Milano,MI
                </p>
            </div>
            <div class="contacts__item">
                <p class="contacts__item--address">
                    {% include 'img/_arrow-right.twig' %}
                    251 Laurier Ave. W - Suite 900<br>K1P 5J6 / Ottawa, ON
                </p>
            </div>
        </div>
        <div class="contacts__row fade-in__animated-start animated-line">
            <div class="contacts__item">
                <p><a href="tel:+390262069606">(+39) 02 62069606</a></p>
                <p class="contacts__item--address">
                    {% include 'img/_arrow-right.twig' %}
                    <a href="mailto:newbiz@nascentdesign.com">newbiz@nascentdesign.com</a>
                </p>
            </div>
            <div class="contacts__item">
                <p class="contacts__item--address">
                    {% include 'img/_arrow-right.twig' %}
                    <a href="mailto:info@nascentdesign.com">info@nascentdesign.com</a>
                </p>
                <p class="contacts__item--address">
                    {% include 'img/_arrow-right.twig' %}
                    <a href="mailto:jobs@nascentdesign.com">jobs@nascentdesign.com</a>
                </p>
            </div>
        </div>
    </div>
</div>
