<div class="hidden-image">
    {# <img class="hidden-image__img" src="img/project-full-width.jpg" alt=""> #}
    <div class="hero__imaged plyr__video-embed" id="about-video">
        <iframe src="https://player.vimeo.com/video/13541364?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen allowtransparency></iframe>
    </div>
</div>
