<div class="images-layout">
    <div class="container container--full-width">
        <div class="images-layout__container">
            <img class="images-layout__img images-layout__img--half-height fade-in__container fade-in__animated-start" src="img/images-layout-1.jpg" alt="">
            <img class="images-layout__img images-layout__img--full-height fade-in__container fade-in__animated-start" src="img/images-layout-2.jpg" alt="">
        </div>
    </div>
</div>
