<div class="project-extra fade-in__container">
    <div class="container container--full-width">
        <div class="project-extra__container project-extra__line-anim">
            <div class="project-extra__section project-extra__section--links project-extra__line-anim">
                <h3 class="project-extra__title fade-in__animated-start">Services</h3>
                <ul class="project-extra__links-list">
                    <li class="fade-in__animated-start"><a href="#">Event</a></li>
                    <li class="fade-in__animated-start"><a href="#">Visual identity</a></li>
                    <li class="fade-in__animated-start"><a href="#">Motion picture</a></li>
                    <li class="fade-in__animated-start"><a href="#">Communication</a></li>
                    <li class="fade-in__animated-start"><a href="#">Animation</a></li>
                    <li class="fade-in__animated-start"><a href="#">Animation</a></li>
                </ul>
            </div>
            <div class="project-extra__section project-extra__section--awards">
                <p class="project-extra__description fade-in__animated-start">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <h3 class="project-extra__title fade-in__animated-start">Awards</h3>
                <div class="project-extra__awards">
                    <div class="project-extra__logo project-extra__logo--red-dot fade-in__animated-start">
                        <img class="project-extra__logo-img--positive" src="img/RedDot.png" alt="">
                        <img class="project-extra__logo-img--negative" src="img/RedDot-negative.png" alt="">
                    </div>
                    <div class="project-extra__logo project-extra__logo--id-design fade-in__animated-start">
                        <img class="project-extra__logo-img--positive" src="img/IDDesign.png" alt="">
                        <img class="project-extra__logo-img--negative" src="img/IDDesign.png" alt="">
                    </div>
                    <div class="project-extra__logo project-extra__logo--german-design fade-in__animated-start">
                        <img class="project-extra__logo-img--positive" src="img/GermanDesign.png" alt="">
                        <img class="project-extra__logo-img--negative" src="img/GermanDesign-negative.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
