<div class="project-carousel swiper-container fade-in__container fade-in__animated-start">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="img/project-carousel-image-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="img/project-carousel-image-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="img/project-carousel-image-3.jpg" alt="">
        </div>
    </div>
    <div class="project-carousel__nav swiper-button-prev"></div>
    <div class="project-carousel__nav swiper-button-next"></div>
    <div class="project-carousel__pagination swiper-pagination"></div>
</div>
