<div class="quote">
    <div class="container container--full-width">
        <div class="quote__content">
            <div class="quote__text fade-in__container fade-in__animated-start">
                <p>Innovative brands are those who are are not afraid of tuning in to their inner self to make a change. They combine creativity, strategic vision and business acumen powered by the force of design to achieve tangible results.</p>
            </div>
            <p class="quote__author fade-in__container fade-in__animated-start">Max Bosio, CEO</p>
        </div>
    </div>
</div>
