<div class="specialization">
    <div class="container container--full-width">
        <div class="page-title">
            <h2>We specialized in</h2>
        </div>
        <div class="just-text__content just-text__content--specialization fade-in__container fade-in__animated-start">
            <p>We combine creativity, strategic vision and business acumen powered by the force of design to achieve solid results. We design brands identities, communication systems, digital experiences and environments. </p>
        </div>
        <div class="specialization__list">
            <h3 class="specialization__list-title">Strategy</h3>
            <ul class="specialization__sublist fade-in__container">
                <li class="fade-in__animated-start">
                    {% include 'img/_arrow-right.twig' %}
                    Brand Strategy
                </li>
                <li class="fade-in__animated-start">
                    {% include 'img/_arrow-right.twig' %}
                    Brand Architecture
                </li>
                <li class="fade-in__animated-start">
                    {% include 'img/_arrow-right.twig' %}
                    Digital Strategy
                </li>
                <li class="fade-in__animated-start">
                    {% include 'img/_arrow-right.twig' %}
                    Communication strategy
                </li>
            </ul>
            <h3 class="specialization__list-title">Design</h3>
            <ul class="specialization__sublist fade-in__container">
                <li class="fade-in__animated-start">
                    {% include 'img/_arrow-right.twig' %}
                    Naming
                </li>
                <li class="fade-in__animated-start">
                    {% include 'img/_arrow-right.twig' %}
                    Brand Identity
                </li>
                <li class="fade-in__animated-start">
                    {% include 'img/_arrow-right.twig' %}
                    Packaging
                </li>
            </ul>
            <h3 class="specialization__list-title">Digital</h3>
            <ul class="specialization__sublist fade-in__container">
                <li class="fade-in__animated-start">
                    {% include 'img/_arrow-right.twig' %}
                    Web Design
                </li>
                <li class="fade-in__animated-start">
                    {% include 'img/_arrow-right.twig' %}
                    Motion Graphics
                </li>
                <li class="fade-in__animated-start">
                    {% include 'img/_arrow-right.twig' %}
                    Experience Design
                </li>
                <li class="fade-in__animated-start">
                    {% include 'img/_arrow-right.twig' %}
                    Social Media Contents
                </li>
            </ul>
        </div>
    </div>
</div>
