<div class="video fade-in__container fade-in__animated-start">
    {# <div class="hero__imaged plyr__video-embed" id="project-video">
        <iframe src="https://player.vimeo.com/video/13541364?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen allowtransparency></iframe>
    </div> #}
    <video id="project-video" playsinline controls>
        <source src="/media/24882064.mp4" type="video/mp4" />
    </video>
    {# <button class="video__play">
        <img src="img/icon-play-black.svg" alt="">
    </button> #}
</div>
